<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.llc.android_r">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".MyApplication"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="IntentFilterExportedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".scope.ScopeStorageActivity"/>
        <activity android:name=".screen.ScreenActivity"/>
        <activity android:name=".room.RoomDbActivity"/>
        <activity android:name=".scope.StorageAccessFrameworkActivity"/>
        <activity android:name=".scope.ScopeStorageArchitectureActivity"/>
        <activity android:name=".scope.FileArchitectureActivity"/>
        <activity android:name=".webview.WebViewActivity"/>
        <activity android:name=".webview.WebViewActivity1"/>
        <activity android:name=".flowlayout.FlowLayoutActivity"/>
        <activity android:name=".skin.SkinActivity"
            android:theme="@style/AppTheme_NoActionBar_Custom"/>
        <activity android:name=".scroll.NestedScrollActivity"/>
        <activity android:name=".text.TextViewActivity"/>
        <activity android:name=".text.ViewPagerActivity"/>
        <activity android:name=".rv.RecyclerViewActivity"/>
        <activity android:name="com.example.llc.android_r.vp.ViewPagerActivity"/>
        <activity android:name=".coordinatorlayout.CoordinatorLayoutActivity"/>
        <activity android:name=".coordinatorlayout.BehaviorActivity"/>
        <activity android:name=".photo.PhotoViewActivity"/>
        <activity android:name=".fish.FishActivity"/>
        <activity android:name=".tabs.TabActivity"/>
        <activity android:name=".mvi.LoginActivity"/>
    </application>

</manifest>